#include "winver.h"

MAIN ICON "icon.ico"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS VS_FF_PRERELEASE
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Coyote\0"
            VALUE "FileDescription",  "Hotkey binder to move a window\0"
            VALUE "FileVersion",      "0.1.0.0 TP\0"
            VALUE "InternalName",     "windowMover0.01\0"
            VALUE "LegalCopyright",   "Copyright (c) 2024-2024 Coyote Chen\0"
            VALUE "OriginalFileName", "main.exe\0"
            VALUE "ProductName",      "windowMover\0"
            VALUE "ProductVersion",   "0.01\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

